name: Stale

on:
  issues:
   types: [reopened]
  schedule:
   - cron: "*/60 * * * *"

jobs:
  stale:

    runs-on: ubuntu-latest
    env:
      ACTIONS_STEP_DEBUG: true
    steps:
    - uses: actions/stale@v3.0.10
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.'
        stale-pr-message: 'This pull request has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
        days-before-stale: 7
        days-before-close: 2
        exempt-issue-labels: 'discussion,help wanted,long running'
        exempt-pr-labels: 'awaiting-approval,work-in-progress'
        remove-stale-when-updated: true

